
body {
    font-family: Arial, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.input_container {
    display: flex;
    margin-bottom: 20px;
}

#product_name , #product_price{
    
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
#product_name{
    flex-grow: 1;
}
#product_price{
width: 95px;
}
#product_name:focus, #product_price:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

#product_quantity {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 50px; 
    margin-right: 10px;
}
#addProduct_btn {
    background-color: #4271d7;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
   
}

#addProduct_btn:hover {
    background-color: #4553a0;
}
.alert-success{
    color:#0a3622;
    background-color: #45a049;
}
#product_container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}


.delete_product {
    background-color: #ff5252;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete_product:hover {
    background-color: #ff0000;
}
#clearAll_btn{
    background-color: #d32f2f;
    margin-top: 10px; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#clearAll_btn:hover {
    background-color: #b71c1c;
}